body {
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: aquamarine;
    border: 2px solid #ccc;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    color: #ff6347;
}
main {
    text-align: left;
}
h2 {
    color: #333;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0 ;
}